<!doctype html>
<html ng-app="ui.bootstrap.demo">
   <head>
       <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
       <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.16/angular.js"></script>
  </head>
   <body ng-controller="TypeaheadCtrl">

      <div class='container' ng-cloak style="padding-top: 30px;">

        <form ng-submit="formSubmit()" class="form-inline">
          <div class="form-group">
              <input id="txt_search"
                     type="text" 
                     ng-model="currentSuggestion" 
                     typeahead-min-length = "1"
                     typeahead-on-select='onSelect($item)'
                     typeahead-editable="false"
                     typeahead="country as country for country in suggestions | filter:$viewValue | limitTo:8" 
                     class="form-control" style="width: 500px;">    

              <input type="submit" value="Search" class="btn btn-primary"/>
          </div>
        </form>


        <div ng-repeat='c in countriesResult | filter:userInput' class="list-group" style="margin-top: 10px;">
          <a href="#" class="list-group-item">
                Country: {{c.Name}} ({{c.Symbol}})
          </a>     
        </div>       

      </div>
   </body>

    <script src="http://angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.12.1.js"></script>   
    <script src="js/example.js"></script>

    <style>
      a.list-group-item {
        padding: 15px;     
        color: #8a6d3b;
        background-color: #faebcc;
      }
    </style>
</html>
